
body{
    font-family: 'Playfair Display', serif;
    font-size: medium;
    background-color: rgb(219, 208, 189);
    text-decoration: none!important;  
    padding-top: 90px;
 
}

header{
    
     background-color:rgb(194, 194, 184) ;
     border-radius: 0;
     border: 0;
     padding-right: 0px;
}
.navbar{
    padding-right: 0px;
    margin-right: 0px;
}
.responsive {
    width: 100%;
    height: auto;
    max-height: 680px;
    max-width: 992px;
  }
#logo-img{

    margin: 0px 0px 0px 0px;
    margin-right: 25px;
    border-radius: 55%;
}

.navbar-brand{
    font-size: 30px;
    text-shadow: 1px 1px 1px rgb(167, 167, 152);
   
}
#logo-name{
 margin-top: 18px;
 margin-right: 150px;
 
}
#navs-list{
    margin-right: 0px;
    padding-right: 0px;
}
#menu-tile,#spetials-tile,#map-tile{
    height: 250px;
    width: 100%;
    margin-bottom:15px;
    position: relative;
    border: 2px solid 1px rgb(167, 167, 152);
    overflow: hidden;
    
}
#menu-tile:hover, #spetials-tile:hover, #map-tile:hover{
 box-shadow: 0 1px 5px 1px rgb(167, 167, 152);
 text-decoration: none!important;  
}
a{
    text-decoration: none!important;  
}
#home-tiles{
    margin-top: 15px;
}
/*
.navbar-brand h1{
    font-size: 38px;
    text-shadow: 1px 1px 1px rgb(138, 138, 126);
    text-decoration: none;
    text-decoration-line:unset;
    color: black;
}

.navbar-brand a:hover, .navbar-brand a:focus, a{
    text-decoration: none !important;
}

